
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<body>
    <div class="content-wrap">
        <div class="container">
            <h1>About Us</h1>

            <br>
            <div class="row">
                <div class="photo">
                    <img src="~/img/Abhi.JPG" style="border-radius: 999px; width:150px"
                         alt="Abhishek Arora Photo">
                </div>
                <div class="bio">
                    <h3>Abhishek Arora</h3>
                    <p style="max-width:800px">
                        Erik is a first semester BS/MAIS student. He has a history of professional web development
                        experience developing enterprise grade applications with tools including Spring and Angular.<br>
                        On this project Erik wrote the majority of the CSS, the About page, the DB Diagram, and the
                        first report on the <a href="reports.html">Reports</a> page.
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="photo">
                    <img src="~/img/rishab.JPG" style="border-radius: 999px; width:150px" alt="Rishab Aggarwal's Photo">
                </div>
                <div class="bio">
                    <h3>Rishab Agarwal</h3>
                    <p style="max-width:800px">
                        Ebby works on the Business Intelligence team for USF Information Technology. He has already
                        received his MBA from USF - St Petersburg, and is currently working towards his MS/BAIS.
                        On this project Ebby created the second and third report on the
                        <a href="reports.html">Reports</a> page, as well as the feature that highlights the column the
                        table is being sorted on.
                    </p>
                </div>
            </div>
            <br><br>
            <h1>Database Diagram</h1>
            <img src="img/db.png" alt="database diagram">
            <br><br>
            <h1>GitHub</h1>
            <p><a href="https://github.com/erikbernheim/Assignment_LookAndFeel">https://github.com/erikbernheim/Assignment_LookAndFeel</a></p>
        </div>
    </div>
    <div class="footer-wrap">
        <div class="footer">
            <span class="footer-item">Developed for Assignment 4 - Distributed Information Systems</span>
            <span class="footer-item" style="float: right">
                By - Abhishek Arora , Rishab Agarwal
            </span>
        </div>
    </div>

</body>

</html>
