
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<body>
    <div class="content-wrap">
        <div class="container">
            <h1>About Us</h1>

            <br>
            <div class="row">
                <div class="photo">
                    <img src="~/img/Abhi.JPG" style="border-radius: 999px; width:120px"
                         alt="Abhishek Arora Photo">
                </div>
                <div class="bio">
                    <h3>Abhishek Arora</h3>
                    <p style="max-width:1000px">
                        Abhishek is started at USF in 2017 with the graduate certificate course 
                        and later in 2018 continued with MS in BAIS course with antipicating 
                        graduation by Spring 2020</a> page.
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="photo">
                    <img src="~/img/rishab.JPG" style="border-radius: 800px; width:120px" alt="Rishab Aggarwal's Photo">
                </div>
                <div class="bio">
                    <h3>Rishab Agarwal</h3>
                    <p style="max-width:1000px">
                        Rishab started at USF this year in Fall 2019 batch..
                    </p>
                </div>
            </div>
            <br><br>
            <h1>Database Diagram</h1>
            <img src="~/img/er_diagram.JPG" alt="database diagram" width="800" height="600">
            <br><br>
            <h1>GitHub</h1>
            <p><a href="https://github.com/abhiarora87/Assignment4">https://github.com/abhiarora87/Assignment4</a></p>
        </div>
    </div>
    

</body>

</html>
